.my-card{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.navbar{
    position: sticky;
    top:0px;
    zindex:100;
}

.my-project{
    margin-top: 400px;
}

.my-contact{
    margin-top: 40px;
}

.list-section{
    margin: 20px;
}

::selection{
    background-color:black;
    color: white;
}

.box{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

@media (width<=800px) {
    .box{
        flex-direction: column;

    }
    .zoom:hover{
        transform: scale(1);
    }
}

.zoom{
    transition: 0.4s ease-in;
}
.zoom:hover{
    transform: scale(1.2) rotate(3deg);
}
